@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
}

main {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle, rgb(79, 144, 255), rgb(0, 94, 255));
}

h1 {
  text-align: center;
  color: white;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.40);
  padding-top: 20px;
  margin-bottom: 50px;
}

fieldset {
  background-color: white;
  width: 60vw;
  margin: 10px auto;
  padding: 20px;
  border: none;
  border-radius: 5px;
}

legend {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-radius: 100px;
}

p {
  margin: 10px 0px 15px 0px;
}

#botao {
  text-align: center;
}

input[type='text'], input[type='email'], input[type='password'] {
  border: none;
  box-shadow: 0px 0px 1px black;
  height: 25px;
  border-radius: 50px;
  padding: 5px;
}

input[type='submit'], input[type='reset'] {
  margin: 5px;
  margin-top: 25px;
  padding: 10px 20px;
  background-color: #156CFF;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type='submit']:hover, input[type='reset']:hover {
  background-color: #1155cc;
  padding: 10px 30px;
  transition-duration: .3s;
}

input[type='submit']:active, input[type='reset']:active {
  background-color: black;
  padding: 10px 20px;
  transition-duration: .1s;
}